body { 
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	width: 100%; 
	height: 100%; 
	background-color: #191919;
	color: #fff;
	padding: 0; 
	margin: 0; 
	font-family: 'Lato', sans-serif; 
	overflow-x: hidden;
}

.title p {
    font-size: 2em;
    text-align: center;
}

.main-title p {
    text-align: center;
    font-size: 2em;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.content a {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 15px;
	padding: 20px;
	background: #252525;
	color: #fff;
	text-decoration: none;
	max-width: 100%;
}

.content a:hover {
	background-color: #0a6cf5;
}

.section {
	display: flex;
	flex-direction: column;
	max-width: 25%;
	margin: 15px;
}
